.main__SendImbox {
    .header__imbox {
        display: flex;
        padding: 25px;
        background-color: #308efe;
        border-radius: 10px;
        margin-bottom: 50px;
        justify-content: space-between;
        align-items: center;

        span {
            color: white;
            font-weight: 700;
        }

        &__option {
            display: flex;

            .input__search {
                height: 30px;
                border-radius: 10px;
            }
            
            .icon__search {
                width: 50px;
                margin: auto;
                padding-left: 10px;
                padding-right: 10px;
                font-size: 25px;
                color: white;
                cursor: pointer;
            }
        }
    }

    &__card {
        border-radius: 15px;
    }

    &__Empty {
        text-transform: uppercase;
        text-align: center;
        color: #308dfe80;
        font-weight: 700;
    }

    &__dividir__Empty {
        margin-top: 50px;
        border-bottom: 1px solid #2727273f;
        margin-left: 20%;
        margin-right: 20%;
    }
}