.main__RegistratedUser {
    .header__users {
        display: flex;
        padding: 25px;
        background-color: #308efe;
        border-radius: 10px;
        margin-bottom: 50px;
        align-items: center;

        span {
            color: white;
            font-weight: 700;
        }

        .btn__register {
            display: flex;
            margin-right: 10px;
        }

        &__option {
            display: flex;
            margin-left: auto;

            .input__search {
                height: 30px;
                border-radius: 10px;
            }

            .icon__search {
                width: 50px;
                margin: auto;
                padding-left: 10px;
                padding-right: 10px;
                font-size: 25px;
                color: white;
                cursor: pointer;
            }
        }
    }
}