.card__message__item {
    display: flex;
    flex-direction: row;
    align-items: center;
    padding: 20px;
    margin: 20px;
    border-radius: 20px;
    border: 0;


    .content__profile {
        display: flex;
        align-items: center;
    }

    .content__date {
        display: flex;
        margin-left: auto;
    }

    img {
        display: flex;
        width: 40px;
        height: 40px;
    }

    &__name {
        padding-left: 10px;
        padding-bottom: 5px;
        font-size: 12px;
    }


    &__content {
        padding-top: 10px;
        align-items: center;
        justify-content: center;
        margin-left: 15px;
        font-size: 13px;
    }

    &__date {
        display: flex;
        font-size: 10px;
        margin-left: auto;
        color: rgb(139, 137, 137);
    }

}