.main-auth {
    width: 100%;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    /* background: #159957;
    background: -webkit-linear-gradient(to right, #155799, #159957);
    background: linear-gradient(to right, #155799, #159957); */

    &-logo {
        position: absolute;
        top: 0;
        left: 0;
        padding: 30px;

        .logo__main {
            width: 100px;
        }
    }

}

label {
    display: block;
    margin-top: 10px;
}


.card-container.card {
    width: 350px;
    max-width: 350px !important;
    min-height: 450px !important;
    padding: 40px 40px;
    border-radius: 10px;
}

.card {
    background-color: #f7f7f7;
    padding: 20px 25px 30px;
    margin: 0 auto 25px;
    /* margin-top: 200px; */
    -moz-box-shadow: 0px 2px 2px rgba(0, 0, 0, 0.3);
    -webkit-box-shadow: 0px 2px 2px rgba(0, 0, 0, 0.3);
    box-shadow: 0px 2px 2px rgba(0, 0, 0, 0.3);
}

.recover_password {
    display: flex;
    text-transform: uppercase;
    margin-top: auto;
    font-size: 10px;
    text-align: end;

}

.recover_password span {
    cursor: pointer;
}