.main__observation {
    width: 100%;

    &__message {
        display: flex;
        justify-content: center;
        margin-top: 20px;
        background-color: rgb(238, 239, 239);
        border-radius: 20px;

        &__dividir {
            display: flex;
            width: 25px;
            height: 25px;
            text-align: center;
            border-radius: 50px;
            color: white;
            font-size: 12px;
            margin-left: auto;
            margin-right: auto;
            justify-content: center;
            align-items: center;
            text-align: center;
            background-color: black;
        }

        &__render {
            width: 100%;
            justify-content: center;
            align-items: center;
        }

        &__pagination {
            height: 20px;
            padding: 30px;
            font-weight: 500;
            margin-top: 10px;
            font-size: 12px;
            text-transform: capitalize;
            color: #308efe;
            cursor: pointer;
        }
    }

    .card__message__item {
        display: flex;
        flex-direction: row;
        align-items: center;
        padding: 20px;
        margin: 20px;
        border-radius: 20px;
        border: 0;


        .content__profile {
            display: flex;
            align-items: center;
        }

        .content__date {
            display: flex;
            margin-left: auto;
        }

        img {
            display: flex;
            width: 40px;
            height: 40px;
        }

        &__name {
            padding-left: 10px;
            padding-bottom: 5px;
            font-size: 12px;
        }



    }




}