.main__Registrated__settings {
    .header__imbox {
        padding: 10px;
        background-color: #308efe;
        border-radius: 10px;
        margin-bottom: 50px;

        &__cod {
            display: flex;
        }

        span {
            margin-top: auto;
            margin-bottom: auto;

            color: white;
            font-weight: 700;
        }

        .title__register__system {
            display: flex;
            text-align: center;
            padding: 10px;
            background-color: #308efe;
            z-index: 10;
        }

        &__option {
            display: flex;

            .input__search {
                height: 30px;
                border-radius: 10px;
            }

            .icon__search {
                width: 50px;
                margin: auto;
                padding-left: 10px;
                padding-right: 10px;
                font-size: 25px;
                color: white;
                cursor: pointer;
            }
        }

        .btn__register {
            display: flex;
            margin-left: auto;

            .btn__register__option {
                display: flex;
                margin-left: 20px;
                justify-content: center;
                align-items: center;
                cursor: pointer;

                i {
                    display: flex;
                    text-align: center;
                    color: white;
                    padding: 10px;
                }

            }

            .active_selected {
                border-bottom-color: #E8E8E8;
                border-bottom-style: solid;
            }
        }

    }

    .search__cod {
        padding-top: 20px;
    }
}