.main__add__new__user {
    display: flex;
    padding-left: 60px;
    padding-right: 60px;
    margin: auto;

    .header__imbox {
        padding: 25px;
        display: flex;
        background-color: #308efe;
        border-radius: 10px;
        margin-bottom: 50px;

        span {
            color: white;
            font-weight: 700;
        }

        .btn__register {
            display: flex;
            margin-left: auto;
        }
    }

}

.main__add__new__user__option {
    display: flex;
    width: 100%;
    justify-content: end;
    align-items: flex-end;
    padding-right: 70px;

    .btn__new_user {
        display: flex;
        width: 200px;
        padding: 10px;
        bottom: 40px;
        color: white;
        margin-top: auto;
        justify-content: center;
        background-color: black;
        border-radius: 10px;
        cursor: pointer;
    }

    .btn__new_user:hover {
        background-color: grey;
    }
}