.new__request {

    &__header {
        color: #308efe;
    }

    &__title {
        text-transform: uppercase;
    }

}


.new__request__write {
    position: fixed;
    width: 60px;
    height: 60px;
    bottom: 40px;
    right: 120px;

    .css-button-sliding-to-left--black {
        display: flex;
        min-width: 130px;
        height: 40px;
        color: #fff;
        padding: 5px 10px;
        font-weight: bold;
        justify-content: center;
        align-items: center;
        margin-top: 10px;
        margin-left: 5px;
        cursor: pointer;
        transition: all 0.3s ease;
        position: relative;
        border-radius: 50px;
        z-index: 0;
        background: #fff;
        overflow: hidden;
        border: 2px solid #308efe;
        color: #308efe;
    }

    .css-button-sliding-to-left--black:hover {
        color: #fff;
    }

    .css-button-sliding-to-left--black:hover:after {
        width: 100%;
    }

    .css-button-sliding-to-left--black:after {
        content: "";
        position: absolute;
        z-index: -1;
        transition: all 0.3s ease;
        left: 0;
        top: 0;
        width: 0;
        height: 100%;
        background: #308efe;
    }
}
