.card-body {
    flex-direction: column;
}

.header__profile {
    background-color: #308efe;
    font-weight: 700;
}

.card-title {
    display: flex;
    text-align: center;
    justify-content: center;
    text-transform: capitalize;

    .nro__idt {
        margin-top: auto;
        margin-bottom: auto;
        justify-content: center;
        text-align: center;
        font-size: 15px;
        margin-left: 20px;
    }
}

.main-card-text {
    display: block;
    text-align: start;
    padding: 30px;

}

.card-footer {
    text-transform: capitalize;
}