.new__request__option {
    display: flex;
    margin-top: 40px;
    margin-bottom: 10px;
    padding-bottom: 0;

    &__button {
        width: 100%;
        border: 0;
        text-align: center;
        padding-left: 20px;
        padding-right: 20px;
        padding-top: 7px;
        padding-bottom: 7px;
        color: #FFF;
        background-color: #308efe;
        border-radius: 5px;
        cursor: pointer;

        .spinner-border {
            margin-right: 20px;
        }
    }

    &__button:hover {
        color: #FFF;
        background-color: #2580f0;
    }

    &__buttonX {
        padding-left: 20px;
        padding-right: 20px;
        padding-top: 7px;
        padding-bottom: 7px;
        color: #FFF;
        background-color: black;
        border-radius: 5px;
        cursor: pointer;
    }

    &__buttonX:hover {
        color: #FFF;
        background-color: #5a5959;
    }
}