.main {

    &__Empty {
        text-transform: uppercase;
        text-align: center;
        color: #308dfe80;
        font-weight: 700;
    }

    &__dividir__Empty {
        margin-top: 50px;
        border-bottom: 1px solid #2727273f;
        margin-left: 20%;
        margin-right: 20%;
    }
}