.content_loading {
    width: 100vw;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    position: fixed;
    padding-bottom: 100px;
    z-index: 1000;
}

.index__page {
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 25%;
    z-index: 1000;
}

.index__pageV2 {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 25%;
    z-index: 1000;
}


.index__pageV3 {
    display: flex;
    height: 300px;
    justify-content: center;
    align-items: center;
    z-index: 1000;
}

.loading {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: auto;
    color: #308efe;
    overflow: hidden;
}