.sidebar {
    position: fixed;
    top: 0;
    left: 0;
    height: 100vh;
    width: 320px;
    background-color: #3e3e45;

    &__logo {
        display: grid;
        place-items: center;
        margin: auto;
        width: 100px;
        height: 100px;
        font-size: 1.5rem;
        font-weight: 700;
        color: #FFF;
        margin-top: 20px;
        margin-bottom: 20px;
        font-family: 'Mochiy Pop P one', sans-serif;
        background-color: #FFF;
        border-radius: 100px;

        .logo__main {
            width: 80px;
        }
    }


    &__menu {
        position: relative;

        &__item {
            display: flex;
            align-items: center;
            place-content: flex-start;
            padding: 1rem 3rem;
            font-size: 1em;
            color: #FFF;
            transition: color 0.3s ease-in-out;

            &.active {
                color: #fff;
            }

            &__icon {
                margin-right: 1rem;

                i {
                    font-size: 1.75rem;
                    color: #FFF;
                }
            }

        }

        &__indicator {
            position: absolute;
            top: 0;
            left: 50%;
            width: calc(100% - 40px);
            border-radius: 10px;
            background-color: #308efe;
            z-index: -1;
            transform: translateX(-50%);
            transition: 0.3s ease-in-out;

        }
    }

    &__sesion {
        display: flex;
        width: 100%;
        position: absolute;
        color: #FFF;
        justify-content: center;
        bottom: 35px;
        text-align: center;

        .icon_logout {
            display: flex;
            margin-left: 20px;
            margin-top: 5px;
            height: 20px;
            color: #FFF;
        }

        &__btn__out {
            display: flex;
            height: 30px;
            justify-content: center;
            justify-items: center;
            cursor: pointer;
        }

    }
}