.alert {
    display: flex;
    margin-left: auto;

    .option {
        display: flex;
        justify-content: center;
        align-items: center;
        margin-left: auto;

        i {
            margin-left: 10px;
            font-size: 20px;
        }
    }
    .content {
        margin-left: 10px;
    }
}