.profile-img-card {
    width: 96px;
    height: 96px;
    margin: 0 auto 10px;
    display: block;
    -moz-border-radius: 50%;
    -webkit-border-radius: 50%;
    border-radius: 50%;
}

.title-change-password {
    padding-top: 20px;
    padding-bottom: 30px;
    text-transform: uppercase;
    font-weight: 700;
    font-size: 20px;
    color: #308efe;;
}

.input-group .form-control {
    width: 85%;
    position: absolute;
}

.form-group label {
    text-transform: uppercase;
    font-size: 12px;
    font-weight: 300;
}

.input-group-text {
    position: relative;
    height: 39px;
}

.inner-addon {
    position: relative;
}

/* .right-addon .glyphicon {
    right: 0px;
} */

.inner-addon .glyphicon {
    position: absolute;
    padding: 10px;
    padding-right: 10px;
    pointer-events: none;
}

.left-addon .glyphicon {
    left: 0px;
}

.left-addon input {
    padding-left: 35px;
}

.bx {
    color: #aaaaaa;
}

/* .right-addon input {
    padding-right: 30px;
} */

.alert-danger {
    display: flex;
    position: absolute;
    flex-direction: column;
    justify-content: center;
    height: 40px;
    margin-top: 5px;
}

.btn_login {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 20px;
}

.btn__primary {
    background-color: black;
    color: white;
    width: 100%;
    border: 0;
    padding-left: 20px;
    padding-right: 20px;
    padding-top: 10px;
    padding-bottom: 10px;
    margin-top: 20px;
    border-radius: 5px;

}

.btn__primary:hover {
    background-color: #e1e1e1;
    border: 0;
    color: grey;

}