.main_options {
    display: flex;
    width: 100%;
    justify-content: center;

    .btn__session {
        display: flex;
        width: 200px;
        padding: 20px;
        position: fixed;
        bottom: 40px;
        color: white;
        margin-top: auto;
        justify-content: center;
        background-color: black;
        border-radius: 10px;
        cursor: pointer;
    }

    .btn__session:hover {
        background-color: grey;
    }
}

.main_email {}

.main_email_header {
    display: flex;
    width: 100%;
    height: 100px;
    text-align: center;
    justify-content: center;
    background-color: #000;
}

.main_email_header span {
    display: flex;
    color: #fff;
    font-size: 20px;
    text-align: center;
    justify-content: center;
    align-items: center;
}

.main_email_body p {
    display: flex;
    margin-top: 40px;
    font-size: 16px;
    text-align: center;
    justify-content: center;
    align-items: center;
}

.main_email_link a {
    display: flex;
    margin-top: 40px;
    margin-bottom: 40px;
    font-size: 10px;
    text-align: center;
    justify-content: center;
    align-items: center;
}

.main_email_footer {
    position: absolute;
    display: flex;
    width: 100%;
    height: 100px;
    bottom: 0;
    text-align: center;
    justify-content: center;
    align-items: center;
    background-color: #000;
}

.main_email_footer span {
    display: flex;
    color: #fff;
    font-size: 10px;
    text-align: center;
    justify-content: center;
    align-items: center;
}