.main__option__exports_data {
    width: 100%;
    display: flex;
    overflow: hidden;
    justify-content: center;
    align-items: center;

    .main__option_export__item {
        width: 250px;
        display: block;
        padding: 100px;

        .img__icon__btn {
            display: block;
            justify-content: center;
            align-items: center;

            span {
                display: flex;
                justify-content: center;
                color: #000;
                font-weight: 700;
                text-transform: uppercase;
            }
        }

        .img__icon {
            width: 50px;
            display: flex;
            justify-content: center;
            align-items: center;


        }
    }

}