.status__table {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;

    .status__p__table {
        display: flex;
        width: 80px;
        margin-top: 5px;
        padding-top: 2px;
        padding-bottom: 2px;
        justify-content: center;
        color: white;
        background-color: #56ae5a;
        font-size: 10px;
        border-radius: 5px;
    }

    .status__ep__table {
        display: flex;
        width: 80px;
        margin-top: 5px;
        padding-top: 2px;
        padding-bottom: 2px;
        justify-content: center;
        color: white;
        background-color: #ae5656;
        font-size: 10px;
        border-radius: 5px;
    }

    .status__pr__table {
        display: flex;
        width: 80px;
        margin-top: 5px;
        padding-top: 2px;
        padding-bottom: 2px;
        justify-content: center;
        color: white;
        background-color: #308efe;
        ;
        font-size: 10px;
        border-radius: 5px;
    }

    .status__c__table {
        display: flex;
        width: 80px;
        margin-top: 5px;
        padding-top: 2px;
        padding-bottom: 2px;
        justify-content: center;
        color: white;
        background-color: black;
        font-size: 10px;
        border-radius: 5px;
    }
}

.option {
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-left: auto;

    .bx {
        display: flex;
        justify-content: center;
        align-items: center;
        color: black;
        font-weight: bold;
        cursor: pointer;
    }

    i {
        display: flex;
        justify-content: center;
        align-items: center;
        margin: auto;
        font-size: 20px;
    }
}


tr {
    cursor: pointer;
}