.main__observation {
    &__send {
        display: flex;
        padding: 20px;
        justify-content: center;

        textarea {
            width: 100vh;
        }

        .css-button-sliding-to-left--black {
            display: flex;
            min-width: 130px;
            height: 40px;
            color: #fff;
            padding: 5px 10px;
            font-weight: bold;
            justify-content: center;
            align-items: center;
            margin-top: 10px;
            margin-left: 5px;
            cursor: pointer;
            transition: all 0.3s ease;
            position: relative;
            border-radius: 50px;
            z-index: 0;
            background: #fff;
            overflow: hidden;
            border: 2px solid #308efe;
            color: #308efe;
        }

        .css-button-sliding-to-left--black:hover {
            color: #fff;
        }

        .css-button-sliding-to-left--black:hover:after {
            width: 100%;
        }

        .css-button-sliding-to-left--black:after {
            content: "";
            position: absolute;
            z-index: -1;
            transition: all 0.3s ease;
            left: 0;
            top: 0;
            width: 0;
            height: 100%;
            background: #308efe;
        }
    }
}