.main__SendImbox__pagination {
    display: flex;
    position: absolute;
    bottom: 40px;

    .pagination__option {
        height: 40px;
        max-height: 40px;

        i {
            padding: 10px;
            margin-right: 30px;
            margin-bottom: 20px;
            background-color: #308efe;
            border-radius: 50px;
            color: #FFF;
            cursor: pointer;
        }

    }

    &__indicator {
        // padding-left: 10px;
        display: flex;
        width: 100%;
        margin-right: 25px;
        justify-content: center;
        align-items: center;


        span {
            font-size: 14px;
            color: #308efe;
            text-align: center;
        }

        .page {
            padding-left: 10px;
            color: #000;
        }
    }


}