.viewmessage {
    position: fixed;
    width: calc(100% - 410px);
    top: 0;
    height: 130px;
    display: flex;
    background-color: white;
    z-index: 100;

    .card {
        width: 100%;
        height: 70px;
        margin-top: 20px;
        display: flex;
        padding: 35px;
        border-radius: 10px;
        background-color: #308efe;
        justify-content: space-between;
        flex-direction: row;
        align-items: center;

        .back {
            width: 30px;
            display: flex;
            justify-content: center;
            align-items: center;
            margin-top: 5px;
        }

        .select {
            display: flex;
        }
    }
}


.main__viewmessage {
    margin-top: 80px;
    margin-bottom: 100px;
    margin-left: 10px;

    &__detail {
        display: flex;
        justify-content: space-between;
        margin-top: 30px;
        padding-left: 5px;

        &__content {
            display: block;
            flex-direction: column;
            font-size: 10px;

            &__equipo {
                display: flex;
                text-align: right;
                justify-content: end;
                align-items: flex-end;

                span {
                    padding-right: 5px;
                }

            }

        }
    }

    &__content {
        margin-top: 30px;
        padding-left: 5px;

        &__observation {
            margin-top: 40px;

            span {
                font-size: 15px;
                text-transform: uppercase;
                font-weight: 700;
            }
        }
    }

    &__message {
        display: flex;
        justify-content: center;
        margin-top: 40px;

        &__dividir {
            display: flex;
            width: 50px;
            height: 50px;
            text-align: center;
            border-radius: 50px;
            color: white;
            justify-content: center;
            align-items: center;
            text-align: center;
            background-color: black;
        }
    }
}